 <div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading">grow your business with us</p>
            <div class="row">
                 <div class="col-md-6 col-12 hero-text">
                     <figure>
                         <img src="https://i.imgur.com/I0VQrxBb.jpg" alt="hero image">
                     </figure>
                </div>
                {{!right side}}
                <div class="col-md-6 col-12 hero-text order-md-0 order-1 d-flex justify-content-center align-items-start flex-column">
                <h1>we are the professional developers</h1>
                <p>You can tell your idea,we will transform your idea 
                    to website or app.You can grow you business more and more.<span class="bold-style">Thapa</span></p>
                <button class="btn-style btn-primary">Read More</button>
                </div>
        </div>
        </div>
    </div>
    </div>