<section>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d61982.93346242644!2d75.70551424999998!3d13.843039750000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bbb0004bae5616f%3A0x5eab5b9250ba013e!2sBhadravathi%2C%20Karnataka!5e0!3m2!1sen!2sin!4v1619978430935!5m2!1sen!2sin"
     width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</section>