html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

#logo{
    display: initial;
    font-weight: 600;
    font-size: 3.5rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fd5c63;
    text-shadow: 2px 5px 3px rgba(0,0,0,0.06);
    padding: 0;
}
/*hero section*/
.hero-text h1{
    font-size: 5.5rem;
    line-height: 1.5;
    text-shadow: 5px 4px 11px rgba(0,0,0,0.26);
    letter-spacing: 1px;
    color: #2f2f2f;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.hero-text h1:nth-child(2){
    font-weight: bold;
    color: #5222d0;
}
